# API
NEXT_PUBLIC_API_URL=http://localhost:4000
NEXT_PUBLIC_WS_URL=ws://localhost:4000

# YouTube
NEXT_PUBLIC_YOUTUBE_API_KEY=your_youtube_api_key_here

# Kakao
NEXT_PUBLIC_KAKAO_JS_KEY=your_kakao_js_key_here
